<footer class="text-center text-light p-3">
    <p class="m-0">R. Carmelita Muniz de Araújo, S/N - Olinda - PE - Brasil - CEP: 53130-150</p>
    <p class="m-0">contatodopetlovers@gmail.com</p>
    <p class="m-0">(81) XXXX-XXXX</p>
</footer>