<div class="modal fade" id="modal_termos_uso" tabindex="-1" role="dialog" aria-labelledby="modalTermosUsoLabel" aria-hidden="true">
    <div class="modal-dialog mt-1" role="document">
        <div class="modal-content modal_content">
  
            <div class="modal-header">
                <h5 class="modal-title" id="modalTermosUsoLabel">Termos e Condições de Uso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-body">
                
                <ul>
                    <li class="mb-2">
                        Nosso site visa reproduzir animais de tutores que já que possuem seu pet e querem ter outro sem a necessidade de comprá-los. E também disponibilizar pets para adoção.
                    </li>
                    <li class="mb-2">
                        Baseado na lei Nº 9.605, de 12 de fevereiro de 1998, que dispõe sobre as sanções penais e administrativas derivadas de condutas e atividades lesivas ao meio ambiente, para criminalizar a comercialização de animais domésticos em sites da Internet hospedados no Brasil.
                    </li>
                    <li class="mb-2">
                        Todas as espécies de pets são bem-vindas, desde que não sejam animais silvestres sem autorização de criação do Ibama (a responsabilidade de verificação dessa autorização está diretamente ligada a cada tutor interessado nesse segmento de pet, isentado quaisquer responsabilidades do site Petlovers).
                    </li>
                    <li>
                        Página aberta a qualquer usuário apoiador da causa, desde que seja pessoa física. E caso queira utilizar nossos serviços este usuário obrigatoriamente devera ser maior de 18 (dezoito) anos e possuir CPF.
                    </li>
                </ul>
            </div>

            <div class="modal-footer modal_footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>