<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Pet Lovers - Home</title>

        <script src="js/jquery.js" type="text/javascript"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>
    <body>

        <%- include('../partials/header.ejs') %>

        <main>

            <div class="d-flex justify-content-center flex-wrap flex-lg-nowrap mb-lg-5">
                <div style="max-width: 500px;"><img src="img/pginicef.gif" width="100%"></div>
                <div class="p-3">
                    <p class="texto_destaque_home m-0">Traga seu pet e marque um encontro animal!</p>
                </div>
            </div>
            <!--<div class="d-flex justify-content-center flex-wrap flex-lg-nowrap mb-lg-5">-->
            <div class="row mb-lg-3">
                <div class="col-lg-6">
                    <h3 style="font-family: Boogaloo;">Sobre nós</h3>
                    <hr>
                    <p>
                        O portal busca suprir a carência de tutores com dificuldades em encontrar parceiros para seus animais, com intuito único de reprodução, sem a necessidade de pagar por novos pets, lutando para reduzir a comercialização abusiva de animais. 
                    </p>
                    <p>
                        Além de aproximar os tutores e os pets, o nosso portal também viabiliza a adoção, que é um ato de amor!
                    </p>
                    <p>
                        Incentivando a adoção, reduzimos a comercialização. E plantamos uma sementinha para diminuir a população de pets em estado de abandono, fazendo desse mundo um lugar melhor! 
                    </p>
                    <p>Seja bem-vindo!</p>
                </div>
                <div class="col-lg-6">
                    <h3 class="mb-3" style="font-family: Boogaloo;">Pets em Destaque</h3>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-2 p-1 mx-auto mb-3 mr-lg-2" style="border-radius: 50%; border: 3px solid rgb(35,177,77); overflow: hidden; min-width: 160px; height: 160px;">
                                    <div class="pet1_destaq_home">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <p>Olá, meu nome é Sophia, estou a procura de um lar e de alguém com muito amor para dar, em troca ofereço muito carinho e diversão.</p>
                            <p>Fui achada na rua e atualmente estou em um lar temporário para ser adotada.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-2 p-1 mx-auto mb-3 mr-lg-2" style="border-radius: 50%; border: 3px solid rgb(35,177,77); overflow: hidden; min-width: 160px; height: 160px;">
                                    <div class="pet2_destaq_home">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <p>Oi, eu sou o Zezé, fui achado em um terreno baldio e hoje estou em um lar temporário a espera de um dono definitivo.</p>
                            <p>O que posso dizer de mim... Sou charmoso e extremamente brincalhão.</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row mb-lg-5">
                <div class="col-lg-6 d-flex justify-content-center mb-2 mb-lg-0">
                    <div style="width: 450px; border: 1px solid black;">
                        <img src="img/inscreva.gif" width="100%">
                    </div>
                </div>  
                <div class="col-lg-6">
                    <p class="text-center" style="font-size: 26px; font-family: Boogaloo; letter-spacing: 2px; line-height: 28px;">
                        Ajude a fazer a diferença e inscreva seu pet hoje!
                    </p>
                    <hr>
                    <p>
                       Se você é uma pessoa apaixonada por animais de estimação e quer aumentar a família sem ter que pagar, ou simplesmente quer encontrar um pet para adotá-lo, o seu lugar é aqui.
                    </p>
                    <p>
                       A partir do nosso site, você quebrará a barreira da distância, otimizará o seu o tempo e ainda irá colaborar para diminuir a comercialização abusiva de animais. Desta forma, você ajudará ainda a reduzir a população de pets em estado de abandono.
                    </p>
                </div>
            </div>

            <hr class="mb-lg-3">

            <p style="font-size: 26px; font-family: Boogaloo; letter-spacing: 2px;">Nossos parceiros</p>

            <div class="row">
                <div class="col d-flex justify-content-around flex-wrap mb-3 mb-lg-0">
                    <a href="#" class="mb-3"><img alt="" src="img/bannercat1.png" style= "max-width: 150px; max-height: 200px; border: 3px solid rgb(35,177,77);"></a>
                    <a href="#" class="mb-3"><img alt="" src="img/bannerdog1.png" style= "max-width: 150px; max-height: 200px; border: 3px solid rgb(35,177,77);"></a>
                    <a href="#"><img alt="" src="img/bannerdog2.png" style= "max-width: 150px; max-height: 200px; border: 3px solid rgb(35,177,77);"></a>
                    <a href="#"><img alt="" src="img/bannercat2.png" style= "max-width: 150px; max-height: 200px; border: 3px solid rgb(35,177,77);"></a>
                </div>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="js/script.js"></script>

    </body>
</html>